:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  padding: 0;
  margin: 0;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.chart-container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto 1rem;
}

.pie-chart-container {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
}

@media (prefers-color-scheme: light) {
}
